html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(319deg, #438dfffc, transparent);
}

main {
    display: block;
    width:70%;
    margin:auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color:rgb(36, 159, 168);
}  
   
input {
    background-color:rgb(255, 255, 255);
    padding:3px;
    border:1px solid rgb(36, 159, 168);
    border-radius:5px;
    max-width:100%;
    width:80%;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.box {
    background: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 20px;
    width:30%;
    position:relative;
    text-align:center;
}

.boxtitle {
    color: white;
    text-shadow: 0 1px 1px black;
    font-size: 30px;
}

input[type=submit] {
    background: linear-gradient(90deg, rgb(167, 167, 167), rgb(78, 78, 78));
    color: white;
    border: white solid;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 30px;
    width: 10vw;
}

input[type=submit]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.textbox {
    margin-bottom:5px;
    font-size:18px;
    margin-bottom:5px;
    color: rgb(36, 159, 168);
}

table {
    color: rgb(36, 159, 168);
    border-radius: 10px;
    border: 0;
}

td {
    padding: 15px 15px 5px 15px;
    border: 0;
    font-size: 20px;
}

.bookinglinks {
    color:rgb(36, 159, 168);
    font-size: 18px;
}

.err_form {
    color: rgb(0, 0, 0);
    font-weight:600;
}


