
body {
    margin: 0;
    padding: 0;
    color: black;
    background-image: url('../assets/wallpaper_index.jpg');
    background-repeat: no-repeat;
    background-position: cover;
}

main {
    width: 80%;
    height: 100vh;
    margin : auto;
    text-align: center;
    color: white;
    text-decoration: 2px 2px 2px 2px black;
    padding-top: 50px;
}

h2 {
    size: 200px;
}

main a {
    color: white;
    text-decoration: none;
}





