body {
    margin: 0;
    padding: 0;
    height: auto ;
    width: 100%;
    background-size: cover;
}

main {
    text-align:center;
    padding-top:20px;
    height:100%;
    background: linear-gradient(319deg, #438dfffc, transparent);
}

form {
    width:100%;
    text-align:center;
}
   
label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    color: rgb(36, 159, 168);    
}
   
input {
    background-color:rgb(255, 255, 255);
    padding:3px;
    border:1px solid rgb(36, 159, 168);
    border-radius:5px;
    width:45%;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
   
input[type=submit] {
    background: linear-gradient(90deg, rgb(167, 167, 167), rgb(78, 78, 78));
    color: white;
    border: white solid;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 30px;
    width: 10vw;
}

input[type=submit]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box {
    text-align: center;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
    height: auto;
}

h1 {
    font-size: 6vh;
    color: white;
    text-shadow: 1px 1px rgb(122, 122, 122);
}

.err_form {
    color: rgb(0, 0, 0);
    font-weight:600;
}

#success_message {
    font-size: 25px;
    color: white;
}

