@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

html, body {
    margin: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(319deg, #438dfffc, transparent);
    background-repeat: no-repeat;
}

main {
    display: block;
    width:70%;
    margin:auto;
    text-shadow: 1px 1px black;
    text-align:center;
    padding-bottom: 5vh;
}

.flex_descriptions {
    padding-top: 3vh;
    font-family: 'Quintessential';
}

h1 {
    margin: 20px 0;
    color: #fff;
    font-size: 6vh;
    margin-top: 80px;
}

h2 {
    color:rgb(63, 182, 182);
    text-shadow: 1px 1px grey;
    font-family: 'Quintessential';
}

#camping_name {
    font-size: 6vh;
    color: rgb(63, 182, 182);
}

.flexbox_images {
    display: flex;
    flex-direction:row;
    padding-top:50px;
    height:auto;
    width:auto;
    justify-content: space-around;
}

#pins_flex_image {
    max-width:150%;
    height:auto;
    width:448px;
    margin-right:10px;
}

.flex_image {
    max-width:100%;
    height:auto;
    width:400px;
}

.description {
    color:rgb(63, 182, 182);
    text-shadow: 1px 1px white;
    padding-top: 5vh;
    border: 5px rgb(167, 167, 167) double;
    padding-bottom: 6vh;
    padding-left: -30vw;
    margin-top: 8vh;
    border-radius: 20px;
}

.desc_image {
    height:auto;
    width:300px;
}














