body {
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(319deg, #438dfffc, transparent);
    padding-bottom: 9vh;
}

#section_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-shadow: 1px 1px black;
    text-align: center;
    background-color: lightgray;
    padding: 2vh 0 2vh 0;
}

thead {
    font-size: 25px;
    border-radius: 20px;
    color: rgb(36, 159, 168);
    text-shadow: 1px 1px white;
}

td {
    padding: 15px 15px 5px 15px;
    border: 0;
    font-size: 20px;
}

.submitbtn {
    background: linear-gradient(90deg, rgb(167, 167, 167), rgb(78, 78, 78));
    color: white;
    border: white solid;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 0.5vh;
    width: 17vw;
}

.submitbtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}