@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

main {
    text-align: center;
    background: linear-gradient(319deg, #438dfffc, transparent);
}

.content_tarif {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.liste_tarif {
    list-style: none;
    color: rgb(105, 105, 105);
    font-size: 20px;
}

.titre {
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    padding-left: 39%;
    padding-top: 6vh;
}