@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

body {
    margin: 0;
    color: white;
}

main {
    background: linear-gradient(319deg, #438dfffc, transparent);
}

#section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boxtitle {
    font-size: 6vh;
    color:rgb(36, 159, 168);
}

table {
    background: rgb(206, 206, 206);
    color: rgb(36, 159, 168);
    border-radius: 10px;
    border: 0;
}

td {
    padding: 15px 15px 5px 15px;
    border: 0;
    font-family: 'Dongle';
    font-size: 25px;
}



.submitbtn1 {
    background: linear-gradient(90deg, rgb(167, 167, 167), rgb(78, 78, 78));
    color: white;
    border: white inset;
    border-radius: 6px;
    font-family: 'Dongle';
    font-size: 23px;
    margin-top: 30px;
}

.submitbtn {
    background: linear-gradient(90deg, rgb(167, 167, 167), rgb(78, 78, 78));
    color: white;
    border: white inset;
    border-radius: 6px;
    font-family: 'Dongle';
    font-size: 23px;
}

input:hover {
    transform: scale(1.06);
    cursor: pointer;
}