#calendrierMain {
    border:1px solid #4e637a;
    width:80%;
}

#TopCalendrier  {
    text-align:center;
    background:#000000;
    height:25px;
    padding-top:5px;
    font-weight:bold;
    width:1000px;
}

#JCalendrier {
    background-color:#6c6a6a;
    overflow:hidden;
    font-weight:bold;
    width:203px;
}

#JCalContenu   {
    width:29px;
    text-align:center;
    float:left;
}

.LigneJour  {
    background-color:#ffffff;
    overflow:hidden;
    text-align:center;
    width:203px;
}

.jourVide  {
    border:1px solid transparent;
    width:27px;
    float:left;
}

.linkcal a  {
    color: #FFFFFF;
}
.headcal {
    color: #FFFFFF;
}

.currentday{
    width:25px;
    height:24px;
    float:left;
}

.currentday a{
    color:#000000;
    font-size:14px;
    font-weight:bold;
}
.otherDay   {
    background-color: #ffffff ;
    width:29px;
    height:25px;
    float:left;
    font-size:18px;
    color:#000000;
}